@media screen and (max-width: 540px){
  .registerPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;
  }
  
  .registerModal {
    background-color: white;
    opacity: 0.9 ;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  
  .registerModal h1 {
    margin-bottom: 30%;
    font-size: 40px
  }

  .registerModal p {
    font-size: 12px;
    margin-top: 15px
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 80vw;
  }

  .linha {
    border-top: 1px solid rgb(152, 217, 243);
    margin: 5px;
    color: rgb(152, 217, 243);
    margin-bottom: 20px
  }

  .signUpButton{
    width: 80vw;
    height: 40px;
    border-radius: 50px;
    background-color: #3A459D;
    color: white;
    margin-top: 10%;
  }

  .alreadyAccont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
  }
}